{% macro img(url, url2x, alt, classes, width, height) %}
  {% spaceless %}
    <img
      src="{{url}}"
      {% if width %}
        width="{{width}}"
      {% endif %}
      {% if height %}
        height="{{height}}"
      {% endif %}
      class="{{classes|default('')}}"
      alt="{{ alt }}" />
  {% endspaceless %}
{% endmacro %}

/**
 * Lazy Load Image
 *
 * Provides a simple function to lazyload an image, with optional retina (2x) size.
 * If you know or want to set the width/height, provide it.
 *
 * Setting width/height will aid empty image visuals when loading -
 * and helps constrain a 2x image to the correct size.
 *
 * @param string/array  images    URL string of img to lazyload OR array of URL strings (1x, 2x) [REQUIRED]
 * @param string        alt       Alt string of img [RECOMMENDED]
 * @param string        classes   String of classes to add to the img [RECOMMENDED]
 * @param int           width     Int of image 1x width [OPTIONAL]
 * @param int           height    Int of image 1x height [OPTIONAL]
 * @return              string    returns lazyloaded image and noscript fallback
 */
{% macro lazy(images, alt, classes, width, height) %}
  {% spaceless %}
    {% if images is iterable %}
      {# Images is an array #}
      {% set url1x = images[0] %}
      {% set url2x = images[1] %}
    {% else %}
      {# Images is a string #}
      {% set url1x = images %}
      {% set url2x = false %}
    {% endif %}

    <img
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="{{ url2x ? (url1x ~ '|' ~ url2x) : url1x }}"
      {% if width %}
        width="{{width}}"
      {% endif %}
      {% if height %}
        height="{{height}}"
      {% endif %}
      class="b-lazy {{classes|default('')}}"
      alt="{{ alt }}" />
    <noscript>
      <img
        src="{{url1x}}"
        alt="{{alt}}"
        {% if width %}
          width="{{width}}"
        {% endif %}
        class="{{classes|default('')}}" />
    </noscript>
  {% endspaceless %}
{% endmacro %}

{% macro lazyTimberImage(timberImage, timberImage2x, alt, classes, size) %}
  {% import _self as base_image %}
  {% set altText = alt ? alt : timberImage.caption %}
  {{ base_image.lazy([timberImage.src(size|default('full')), timberImage2x.src(size|default('full'))], altText, classes, timberImage.width, timberImage.height) }}
{% endmacro %}

{% macro background(images, classes) %}
  {% spaceless %}
    {% if images is iterable %}
      {# Images is an array #}
      {% set url1x = images[0] %}
      {% set url2x = images[1] %}
    {% else %}
      {# Images is a string #}
      {% set url1x = images %}
      {% set url2x = false %}
    {% endif %}

    <div data-src="{{ url2x ? (url1x ~ '|' ~ url2x) : url1x }}" class="bg-full b-lazy b-fade-in {{classes|default('')}}"></div>
    <noscript>
      <div style="background-image:url('{{ url1x }}');" class="bg-full {{classes|default('')}}" ></div>
    </noscript>
  {% endspaceless %}
{% endmacro %}