{% macro img(images, alt, classes, width, height) %}
  {% spaceless %}
    {% if images is iterable %}
      {# Images is an array #}
      {% set url1x = images[0] %}
      {% set url2x = images[1] %}
    {% else %}
      {# Images is a string #}
      {% set url1x = images %}
      {% set url2x = false %}
    {% endif %}
    <img
      src="{{ url1x }}"
      {% if width %}
        width="{{width}}"
      {% endif %}
      {% if height %}
        height="{{height}}"
      {% endif %}
      class="{{classes|default('')}}"
      alt="{{ alt }}" />
  {% endspaceless %}
{% endmacro %}

/**
 * Lazy Load Image
 *
 * Provides a simple function to lazyload an image, with optional retina (2x) size.
 * If you know or want to set the width/height, provide it.
 *
 * Setting width/height will aid empty image visuals when loading -
 * and helps constrain a 2x image to the correct size.
 *
 * @param string/array  images    URL string of img to lazyload OR array of URL strings (1x, 2x) [REQUIRED]
 * @param string        alt       Alt string of img [RECOMMENDED]
 * @param string        classes   String of classes to add to the img [RECOMMENDED]
 * @param int           width     Int of image 1x width [OPTIONAL]
 * @param int           height    Int of image 1x height [OPTIONAL]
 * @return              string    returns lazyloaded image and noscript fallback
 */
{% macro lazy(images, alt, classes, width, height) %}
  {% spaceless %}
    {% if images is iterable %}
      {# Images is an array #}
      {% set url1x = images[0] %}
      {% set url2x = images[1] %}
    {% else %}
      {# Images is a string #}
      {% set url1x = images %}
      {% set url2x = false %}
    {% endif %}

    <img
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="{{ url2x ? (url1x ~ '|' ~ url2x) : url1x }}"
      {% if width %}
        width="{{width}}"
      {% endif %}
      {% if height %}
        height="{{height}}"
      {% endif %}
      class="b-lazy {{classes|default('')}}"
      alt="{{ alt }}" />
    <noscript>
      <img
        src="{{url1x}}"
        alt="{{alt}}"
        {% if width %}
          width="{{width}}"
        {% endif %}
        class="{{classes|default('')}}" />
    </noscript>
  {% endspaceless %}
{% endmacro %}

/**
 * TimberImages
 *
 * Provides a simple function to lazyload a TimberImage, with optional retina (2x) TimberImage.
 * Simply pass this an array or single item of image IDs, and this will convert it to TimberImages.
 *
 * @param int/array     images    URL int of attachment ID to lazyload OR array of attachment IDs (1x, 2x) [REQUIRED]
 * @param string        alt       Alt string of img [RECOMMENDED]
 * @param string        classes   String of classes to add to the img [RECOMMENDED]
 * @param int           size      Size of image, defaults to 'full' [OPTIONAL]
 * @return              string    returns lazyloaded image and noscript fallback
 */
{% macro TimberImages(ids, alt, classes, sizes) %}
  {% import _self as base_image %}
  {% if ids is iterable %}
    {# ids is an array #}
    {% set timberImage1x = TimberImage(ids[0]) %}
    {% set timberImage2x = TimberImage(ids[1]) %}
  {% else %}
    {# ids is an int #}
    {% set timberImage1x = TimberImage(ids) %}
    {% set timberImage2x = false %}
  {% endif %}

  {% if sizes is iterable %}
    {% set size1x = sizes[0] %}
    {% set size2x = sizes[1] %}
  {% else %}
    {% set size1x = sizes|default('full') %}
    {% set size2x = size1x %}
  {% endif %}

  {% set altText = alt ? alt : timberImage1x.caption %}

  {{ base_image.lazy([timberImage1x.src(size1x), timberImage2x.src(size2x)], altText, classes, timberImage1x.sizes[size1x].width, timberImage1x.sizes[size1x].height) }}
{% endmacro %}

/**
 * Lazy Background
 *
 * Provides a simple function to lazyload a background, with optional retina (2x) background.
 * Simply pass this an array of Image URLs, or a string of one URL.
 * Requires parent to be relative, include _backgrounds.scss in this package and add .bg-parent to parent.
 *
 * @param int/array     images    URL string of URL to lazyload OR array of strings (1x, 2x) [REQUIRED]
 * @param string        classes   String of classes to add to the background [RECOMMENDED]
 * @return              string    returns lazyloaded background and noscript fallback
 */
{% macro background(images, classes) %}
  {% spaceless %}
    {% if images is iterable %}
      {# Images is an array #}
      {% set url1x = images[0] %}
      {% set url2x = images[1] %}
    {% else %}
      {# Images is a string #}
      {% set url1x = images %}
      {% set url2x = false %}
    {% endif %}

    <div data-src="{{ url2x ? (url1x ~ '|' ~ url2x) : url1x }}" class="bg-full b-lazy b-fade-in {{classes|default('')}}"></div>
    <noscript>
      <div style="background-image:url('{{ url1x }}');" class="bg-full {{classes|default('')}}" ></div>
    </noscript>
  {% endspaceless %}
{% endmacro %}